@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  width: 100vw;    
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: oklch(0.277 0.046 192.524);
}

.logo-name {
  @apply text-teal-950 text-2xl font-black
}

.sidebar-link-active {
  @apply flex flex-row items-center gap-2 p-4 rounded-xl text-lg font-bold text-teal-950 bg-orange-100 border-orange-100 hover:text-teal-950 hover:shadow-sm no-underline;
}

.sidebar-link {
  @apply flex flex-row items-center gap-2 p-4 rounded-xl text-lg font-medium text-teal-950 hover:bg-orange-50 hover:text-teal-950 hover:font-bold hover:shadow-sm no-underline;
}

.btn {
  @apply flex h-[62px] min-w-max p-3 rounded-xl  text-lg justify-center content-center items-center text-center text-teal-950 font-bold bg-orange-400 hover:bg-orange-500 hover:text-teal-950 hover:font-bold hover:shadow-2xs; 
}

.btn-mobile {
  @apply flex h-[62px] w-full p-3 rounded-xl  text-lg justify-center content-center items-center text-center text-teal-950 font-bold bg-orange-400 hover:bg-orange-500 hover:text-teal-950 hover:font-bold hover:shadow-2xs; 
}


.btn-sm {
  @apply flex h-[43px] min-w-max p-3 rounded-xl justify-center content-center items-center text-center text-white font-bold bg-teal-950 hover:bg-teal-800; 
}

.btn-sm-delete{
  @apply flex h-[43px] bg-white items-center rounded-xl text-black border-black border-2 hover:text-black hover:bg-white hover:border-white
}

.footer-link {
  @apply p-2 rounded-xl text-xs font-semibold text-sky-950 hover:bg-rose-200 hover:text-teal-950 hover:font-bold;
}

.card {
  @apply flex flex-col h-full w-full bg-white p-4 rounded-xl shadow-[0_4px_10px_0px_rgba(0,0,0,0.1)];
}

.card-title {
  @apply text-lg font-bold mt-2 overflow-hidden text-teal-900;
}

.card-img {
  @apply w-full h-48 object-cover rounded-xl;
}

.card-wrapper {
  @apply h-full w-full;
}

.card-wrapper > a {
  @apply block h-full w-full;
}

.card-single-recipe-img{
  @apply w-full h-80 object-cover rounded-xl;
}


@keyframes sneak {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(100vw);}
}

.animate-sneak {
  animation: sneak 6s ease-in-out infinite;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 0.8s ease-in-out;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@layer utilities {
  .animate-slide-down {
    animation: slide-down 0.8s ease-in-out forwards;
  }
}
