@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.sidebar-link-active {
  @apply flex flex-row items-center gap-2 p-4 rounded-xl font-bold text-black bg-orange-50 border-orange-100 hover:bg-orange-50 hover:text-black hover:shadow-sm no-underline;
}

.sidebar-link {
  @apply flex flex-row items-center gap-2 p-4 rounded-xl font-medium text-black hover:bg-orange-100 hover:text-black hover:font-bold hover:shadow-sm no-underline;
}

.btn {
  @apply flex max-h-max min-w-max p-3 rounded-xl justify-center content-center items-center text-center text-black font-bold bg-orange-400 hover:bg-orange-500 hover:text-black hover:font-bold hover:shadow-2xs; 
}

.footer-link {
  @apply p-2 rounded-xl text-xs font-semibold text-black hover:bg-rose-200 hover:text-black hover:font-bold;
}

.card{
  @apply flex flex-1 flex-col bg-white p-4 rounded-xl min-w-[280px] shadow-[0_4px_10px_0px_rgba(0,0,0,0.1)];
}

.card-title{
  @apply text-lg font-bold mt-2 overflow-hidden;
}

.card-img {
  @apply rounded-xl;
}
